<div ng-controller="IndexController as index">
	<div class="col-md-12">
		<div>
			Session (from the server): <%= session %>
		</div>
		<div>
			Session cookie (from angular $cookie): {{ index.sessionCookie }}
		</div>
	</div>
</div>